<div class="level is-mobile">
  <div class="level-item">
    <h1 class="title is-1">NPCs</h1>
  </div>
</div>

<ul>
  <% @npcs.each do |log| %>
    <li class="has-text-centered"><a href="/npcs/<%= log %>"><%= log.sub('.txt', '') %></a></li>
  <% end %>
</ul>
